
        
        .container {
          display: flex;
            position: relative;
            width: 300px;
            height: 200px;
        }
        
        .Top {
          width: 100px;
          height: 66.67%;
          background-color: #051be3;
        }
        
        .Mid {
            width: 100px;
            height: 66.67%;
            background-color: #f0fc16;
        }

        .Bot {
            width: 100px;
            height: 66.67%;
            background-color: #ff0505;
        }